deployment
{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(82,102,76,1) 0%, rgba(51,61,45,1) 35%, rgba(57,67,69,1) 100%);
    transition: ease-in-out 1s;
    pointer-events: all;
    z-index: 1;

    .title
    {
        position: absolute;
        font-family: Days One;
        font-size: 32px;
        color: #1CB179;
        top: 25%;
    }
}

.deploymentContainer
{
    padding: 8px;
    font-family: Days One;

    .item
    {
        background-image: url( /ui/green/box.png );
        background-size: 100%;
        width: 300px;
        height: 300px;
        margin: 8px;
        justify-content: center;

        .title
        {
            position: absolute;
            font-family: Syne Mono;
            font-weight: 100;
            font-size: 30px;
            text-align: center;
            color: white;
            top: 50px;
            left: 16px;
            right: 16px;
        }

        .desc
        {
            position: absolute;
            font-family: Syne Mono;
            font-weight: 100;
            top: 120px;
            text-align: center;
            color: #CCDCC7;
            font-size: 12px;
            bottom: 20px;
            left: 32px;
            right: 32px;
        }

        .button
        {
            box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.1);
            background-color: #229F70;
            position: absolute;
            border-radius: 3px;
            bottom: 64px;
            width: 50%;
            height: 32px;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            label
            {
                font-family: Days One;
                font-size: 14px;
                color: white;
            }

            &:hover
            {
                box-shadow: 0px 0px 16px 1px rgba(45, 255, 196, 0.07);
                background-color: #72B985;
            }
        }
    }
}

.team_hidden
{
    deployment
    {
        .title
        {
            position: absolute;
            font-family: Syne Mono;
            font-size: 32px;
            color: #CAAB4D;
        }
    }

    .deploymentContainer
    {
        .item
        {
            background-image: url( /ui/grayscale/box-gs.png );
            background-size: 100%;
        }

        .button
        {
            background-color: #CAAB4D;

            &:hover
            {
                box-shadow: 0px 0px 16px 1px rgba(185, 174, 114, 0.07);
                background-color: #B9AE72;
            }
        }
    }
}