rootpanel
{
	background-color: rgba( #333, 0 );
	transition: background-color 0.2s ease-in;
	transform-origin: 50% 50%;

	&.devcamera
	{
		display: none;
	}
}

chatbox
{
	bottom: 350px;
}

vitals
{
	background-image: url( /ui/green/player.png );
	background-size: 100%;
	position: absolute;
	bottom: 32px;
	left: 64px;
	font-size: 40px;
	color: #fff;
	width: 305px;
	height: 85px;
	font-family: Roboto;
	align-items: center;
	justify-content: center;

	label
	{
		text-shadow: 0px 0px 20px #000;

		&.danger
		{
			color: #f00;
			text-shadow: 0px 0px 10px #f005;
		}
	}

	&.hidden
	{
		display: none;
	}
}

.team_hidden
{
	vitals
	{
		background-image: url( /ui/grayscale/player-gs.png );
	}
}

ammo
{
	background-image: url( /ui/green/ammo.png );
	background-size: 100%;
	position: absolute;
	bottom: 32px;
	right: 64px;
	width: 206px;
	height: 95px;
	font-family: Syne Mono;
	align-items: center;
	justify-content: center;
	display: none;

	label
	{
		text-shadow: 0px 0px 20px #000;
	}

	.weapon
	{
		margin-left: -60px;
		margin-top: -8px;
		font-size: 34px;
		color: white;
	}

	.inventory
	{
		color: #2C795C;
		font-size: 19px;
		margin-left: 4px;
		margin-top: -4px;
	}

	&.active
	{
		display: auto;
	}
}

.team_hidden
{
	ammo
	{
		background-image: url( /ui/grayscale/ammo-gs.png );

		.inventory
		{
			color: #79612C;
		}
	}
}

abilities
{
	position: absolute;
	bottom: 32px;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;

	.ability
	{
		width: 90px;
		height: 90px;
		background-image: url( /ui/grayscale/power-unavailable-gs.png );
		background-size: 100%;
		margin-left: 24px;
		align-items: center;
		justify-content: center;

		.icon
		{
			width: 40px;
			height: 40px;
			background-size: 100%;

			&.sense
			{
				background-image: url( /ui/icons/icon-ability-1.png );
			}

			&.scream
			{
				background-image: url( /ui/icons/icon-ability-2.png );
			}
		}

		.cooldown
		{
			position: absolute;
			background-color: #971515;
			font-family: Syne Mono;
			border-radius: 4px;
			bottom: 4px;
			padding: 8px;
			height: 10px;

			.text
			{
				font-size: 12px;
				align-items: center;
				color: white;
			}

			&.usable
			{
				background-color: #B1841C;
			}
		}

		&.usable
		{
			background-image: url( /ui/grayscale/power-available-gs.png );
		}

		&.hidden
		{
			display: none;
		}
	}

	&.hidden
	{
		display: none;
	}
}

.hdn_pistol .icon
{
	background-image: url( /ui/weapons/dm_pistol.png );
}

.hdn_shotgun .icon
{
	background-image: url( /ui/weapons/dm_shotgun.png );
}

.hdn_smg .icon
{
	background-image: url( /ui/weapons/dm_smg.png );
}
