.roundContainer
{
    background-image: url( /ui/hidden/top-bar-iris.png );
    background-size: 100%;
    font-family: Lexend;
    flex-direction: row;
    position: absolute;
    flex-direction: row;
    display: flex;
    top: 48px;
    color: #ff0;
    width: 410px;
    height: 44px;

    label
    {
        text-shadow: 0px 2px rgba(#000,0.5);
       
    }

    .roundName
    {
        font-size: 20px;
        color: #ECECEC;
        width: 50%;
        margin-right: 50px;
        text-align: right;
        align-items: center;
        left: 0;
    }

    .timeLeft
    {
        font-size: 20px;
        margin-left: 50px;
        align-items: center;
        text-align: left;
        color: #ECECEC;
        width: 50%;
        right: 0;
    }

    &.roundNameOnly
    {
        .roundName
        {
            width: 100%;
            text-align: center;
            margin-right: 0px;
            left: auto;
        }

        .timeLeft
        {
            display: none;
        }

        .icon
        {
            display: none;
        }
    }

    .icon
    {
        position: absolute;
        background-image: url( /ui/hidden/icon-iris.png );
        background-size: 100%;
        width: 64px;
        height: 64px;
        left: 50%;
        top: 50%;
        transform: translateY(-50%);
        margin-left: -32px;
    }
}

roundInfo
{
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team_iris
{
    
}

.team_hidden
{
    .roundContainer
    {
        background-image: url( /ui/hidden/top-bar-hidden.png );

        .icon
        {
            background-image: url( /ui/hidden/icon-hidden.png );
        }
    }
}
